.header {
    display: flex;
    justify-content: right;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}






.imgDisplay {
    height: 70vh;
    width: 100%;
    background-size: cover;
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.imgContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    width: 100%;
    bottom: 8.5vh;
}

.imgItems {
    margin: 0.5vh;
    width: 12%;
    transition: 150ms;
    border-radius: 10px;
}

.imgItems:hover {
    cursor: pointer;
    transition: 150ms;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
}


.selectedImg {
    transform: scale(1.06);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
}






.buyingSection {
    display: flex;
    position: absolute;
    top: 15.5vh;
    left: 10vw;
    justify-content: flex-start;
    flex-direction: column;
    width: 18%;
}

.gamePortrait {
    height: 21%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gamesInfo {
    display: flex;
    flex-direction: column;
    height: 8%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: .3em;
    background-color: rgb(0, 9, 12);
    font-size: 1.5vh;
    padding-top: 3%;
}

.gamesPrice {
    display: flex;
    gap: 8px;
    font-weight: 400;
    margin-top: 3.5%;
    margin-bottom: 5%;
}

.discountColor {
    background-color: rgb(0, 108, 122);
    padding: 6px;
    border-radius: 2px;
}

.strikeThrough {
    text-decoration: line-through;
    color: rgb(206, 206, 206);
}

.addBtn {
    background: rgb(0, 51, 70);
    background: radial-gradient(circle, rgb(1, 81, 110) 0%, rgba(0, 61, 94, 0.8799894957983193) 100%);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 2.5vh;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    margin-top: .3em;
    width: 100%;
    height: 5vh;
    transition: 200ms;
}

.addBtn:hover {
    background-color: rgb(0, 0, 0);
    transition: 200ms;
    cursor: pointer;
}






.detailsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.detailsTitle {
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 5vh;
}

.detailsContent {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: black;
    font-size: 2.5vh;
}





.footer {
    display: flex;
    position: relative;
    top: 8vh;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: black;
}