.gamesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.itemsContent {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: gray;
    background-position: center;
    background-size: cover;
    height: 18vw;
    width: 13%;
    margin: 0.5em;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: 200ms;
}

.itemsContent:hover {
    cursor: pointer;
    transform: scale(1.015);
    transition: 200ms;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.gamesInfo {
    display: flex;
    flex-direction: column;
    height: 19.5%;
    width: 100%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 9, 12);
    font-size: 1.4vh;
}

.gamesPrice {
    display: flex;
    gap: 8px;
    font-weight: 400;
    margin-top: 2.5%;
    margin-bottom: 6%;
}

.discountColor {
    background-color: rgb(0, 108, 122);
    padding: 6px;
    border-radius: 2px;
}

.strikeThrough {
    text-decoration: line-through;
    color: rgb(206, 206, 206);
}




/* Phones */
@media (min-width: 100px) and (max-width: 767px) {
    .gamesContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .itemsContent {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-position: center;
        background-size: cover;
        height: 75vw;
        width: 55.8vw;
        margin: 0.5vh;
        border-radius: 7px;
        box-shadow: 1.3px 1.3px 1.3px 1.3px rgba(0, 0, 0, 0.5);
        flex-shrink: 0;
        transition: 200ms;
    }

    .itemsContent:hover {
        cursor: pointer;
        transform: none;
        transition: 250ms;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
    }

    .gamesInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.38em;
        gap: 0%;
        height: auto;
        width: 100%;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        background-color: rgb(0, 9, 12);
        font-size: 0.83rem;
    }

    .gamesInfo h3 {
        margin-bottom: 0.3em;
    }

    .gamesPrice {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3%;
        font-weight: 400;
        margin-top: 0%;
        margin-bottom: 2%;
    }

    .discountColor {
        background-color: rgb(0, 108, 122);
        padding: 0.2em;
        border-radius: 2px;
    }

    .strikeThrough {
        text-decoration: line-through;
        color: rgb(206, 206, 206);
    }
}







/* Tablet   */
@media (min-width: 768px) and (max-width: 1024px) {
    .gamesContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .itemsContent {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-position: center;
        background-size: cover;
        height: 36vw;
        width: 26.85vw;
        margin: 0.5vh;
        border-radius: 7px;
        box-shadow: 1.3px 1.3px 1.3px 1.3px rgba(0, 0, 0, 0.5);
        flex-shrink: 0;
        transition: 200ms;
    }

    .itemsContent:hover {
        cursor: pointer;
        transform: scale(1.015);
        transition: 250ms;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
    }


    .gamesInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.38em;
        gap: 0%;
        height: auto;
        width: 100%;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        background-color: rgb(0, 9, 12);
        font-size: 0.83rem;
    }

    .gamesInfo h3 {
        margin-bottom: 0.3em;
    }

    .gamesPrice {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3%;
        font-weight: 400;
        margin-top: 0%;
        margin-bottom: 2%;
    }

    .discountColor {
        background-color: rgb(0, 108, 122);
        padding: 3.5px;
        border-radius: 2px;
    }

    .strikeThrough {
        text-decoration: line-through;
        color: rgb(206, 206, 206);
    }
}