.itemsDisplay {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-size: cover;
    transition: 300ms;
}


.itemsFrame {
    display: flex;
    justify-content: center;
    margin-bottom: 11vh;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: min(100%, 67em);
}

.itemslogo {
    width: min(40%, 15.5em);
    margin-bottom: 0.5vh;
}

.itemDesc {
    font-size: min(2vw, 1.8em);
    font-weight: 100;
}

.itemPrice {
    margin-top: 0.5em;
    font-size: min(1.8vw, 1.6em);
    font-weight: 400;
}


.buyBtn {
    background: rgb(0, 51, 70);
    background: radial-gradient(circle, rgb(1, 81, 110) 0%, rgba(0, 61, 94, 0.8799894957983193) 100%);
    border: none;
    border-radius: 0.3rem;
    font-size: 3vh;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin-top: .3em;
    width: min(10vw, 4em);
    height: 5vh;
    transition: 200ms;
}

.buyBtn:hover {
    transform: scale(1.03);
    transition: 200ms;
    border-radius: 0.3rem;
    cursor: pointer;
}







.itemsContent {
    position: relative;
    background-color: gray;
    background-size: cover;
    top: 72vh;
    height: 13.5vh;
    width: 13%;
    margin: 0.5em;
    transition: 200ms;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .4);
}

.itemsContent:hover {
    cursor: pointer;
    transition: 150ms;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.selectedGame {
    transform: scale(1.06);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.btnImgLeft {
    display: none;
}

.btnImgRight {
    display: none;
}





/* Phones */
@media (orientation: portrait) and (min-width: 100px) and (max-width: 767px) {

    .itemsDisplay {
        display: flex;
        z-index: 1;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 80vh;
        width: 100%;
        background-size: cover;
        background-position: 25%;
        transition: 300ms;
    }


    .itemsFrame {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10em;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        height: 10em;
        width: 95%;
    }

    .itemslogo {
        width: max(11em, 40%);
    }

    .itemDesc {
        text-align: center;
        font-size: max(1.1rem, 4.2vw);
        font-weight: 100;
    }

    .itemPrice {
        margin-top: 0.5em;
        font-size: max(1.02rem, 3.65vw);
        font-weight: 400;
    }






    .buyBtn {
        position: absolute;
        z-index: 3;
        margin-left: 50%;
        margin-right: 50%;
        top: max(1rem, 49vh);
        height: max(3rem, 5vh);
        width: max(4rem, 22vw);
        background: rgb(161, 19, 0);
        border: none;
        border-radius: 0.3rem;
        font-size: 1.63rem;
        padding: 0.30em;
        font-weight: 600;
        color: white;
        text-decoration: none;
        transition: 200ms;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    }


    .btnImgLeft {
        display: block;
        position: absolute;
        z-index: 3;
        width: 1.8em;
        left: max(1rem, 25vw);
        top: max(1rem, 50.5vh);
    }

    .btnImgRight {
        display: block;
        position: absolute;
        z-index: 3;
        width: 1.8em;
        right: max(1rem, 25vw);
        top: max(1rem, 50.5vh);
    }



    .itemsContent {
        display: none;
    }

}







/* Phones */
@media (orientation: landscape) and (min-width: 100px) and (max-width: 767px) {

    .itemsDisplay {
        display: flex;
        z-index: 1;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 85vh;
        width: 100%;
        background-size: cover;
        background-position: 1%;
        transition: 300ms;
    }


    .itemsFrame {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10em;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        height: auto;
        width: 95%;
        margin-top: 11vh;
    }

    .itemslogo {
        width: max(1em, 20%);
    }

    .itemDesc {
        text-align: center;
        font-size: max(1rem, 2vw);
        font-weight: 100;
    }

    .itemPrice {
        margin-top: 0.5em;
        font-size: max(1rem, 2vw);
        font-weight: 400;
    }






    .buyBtn {
        position: absolute;
        z-index: 3;
        margin-left: 50%;
        margin-right: 50%;
        top: max(1rem, 55vh);
        height: max(3rem, 5vh);
        width: max(4rem, 22vw);
        background: rgb(161, 19, 0);
        border: none;
        border-radius: 0.3rem;
        font-size: 1.63rem;
        padding: 0.30em;
        font-weight: 600;
        color: white;
        text-decoration: none;
        transition: 200ms;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    }


    .btnImgLeft {
        display: block;
        position: absolute;
        z-index: 3;
        width: 1.8em;
        left: max(1rem, 25vw);
        top: max(1rem, 58vh);
    }

    .btnImgRight {
        display: block;
        position: absolute;
        z-index: 3;
        width: 1.8em;
        right: max(1rem, 25vw);
        top: max(1rem, 58vh);
    }



    .itemsContent {
        display: none;
    }

}






/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .itemsDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-direction: column;
        height: 75vh;
        width: 100%;
        background-position: 40%;
        background-size: cover;
        transition: 300ms;
    }


    .itemsFrame {
        display: flex;
        justify-content: center;
        margin-bottom: 9vh;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        width: 100%;
    }

    .itemslogo {
        width: max(11em, 27%);
        margin-bottom: 0.5em;
    }

    .itemDesc {
        font-size: max(1.35rem, 2.8vw);
        font-weight: 100;
    }

    .itemPrice {
        margin-top: 0.5em;
        font-size: max(1.2rem, 2.3vw);
        font-weight: 400;
    }


    .buyBtn {
        background: rgb(0, 51, 70);
        background: radial-gradient(circle, rgb(1, 81, 110) 0%, rgba(0, 61, 94, 0.8799894957983193) 100%);
        border: none;
        border-radius: 0.3rem;
        font-size: 2rem;
        font-weight: 600;
        color: white;
        text-decoration: none;
        margin-top: .5em;
        height: max(1rem, 8vh);
        width: max(4rem, 13vw);
        padding: 0.1em;
        transition: 200ms;
    }

    .buyBtn:hover {
        transform: scale(1.03);
        transition: 200ms;
        border-radius: 0.3rem;
        cursor: pointer;
    }







    .itemsContent {
        position: relative;
        background-color: gray;
        background-size: cover;
        top: 71vh;
        height: max(3.7rem, 6vh);
        width: max(1rem, 14.8%);
        margin: 0.5em;
        transition: 200ms;
        border-radius: 8px;
        z-index: 2;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .4);
    }

    .itemsContent:hover {
        cursor: pointer;
        transition: 150ms;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
    }

    .selectedGame {
        transform: scale(1.06);
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
    }

    .btnImgLeft {
        display: none;
    }

    .btnImgRight {
        display: none;
    }

}