.itemsDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    height: 42vw;
    width: 100%;
    transition: 200ms;
}



.itemsFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.85vw + .1em);
    margin-right: 48%;
    margin-bottom: 2%;
    width: 61%;
}

.itemsFrame a {
    text-decoration: none;
}

.itemslogo {
    width: 61%;
    aspect-ratio: 515 / 148;
}

.itemDesc {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    font-display: swap;
    color: #FFF;
    text-align: center;
    font-display: swap;
    font-size: calc(1.39vw + .25rem);
    font-weight: 100;
    line-height: calc(2vw + .15rem);
    letter-spacing: 0.0125vw;
}




.buyBtn {
    display: flex;
    padding: 0.315em 1em;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #0084D1;
    color: #FFF;
    text-align: center;
    font-display: swap;
    font-size: calc(1vw + 0.45rem);
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: 200ms;
}

.buyBtn:hover {
    transition: 200ms;
    border-radius: 0.3em;
    cursor: pointer;
    background: #005c91;
}






.thumbContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 91%;
    gap: 0.6%;
}

.itemsThumbnail {
    background-size: cover;
    transition: 170ms;
    z-index: 2;
    border-radius: 0.45vw;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.32);
    width: 12.5%;
    aspect-ratio: 16 / 9;
}

.itemsThumbnail:hover {
    cursor: pointer;
    transition: 170ms;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.7);
}

.selectedGame {
    transform: scale(1.05);
    transition: 170ms;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.7);
}




.btnMobileFrame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnImgLeft {
    display: none;
}

.btnImgRight {
    display: none;
}





/* Phones */
@media (orientation: portrait) and (min-width: 100px) and (max-width: 767px) {

    .thumbContainer {
        display: none;
    }


    .itemsDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150vw;
        width: 100%;
        background-size: cover;
        background-position: 40%;
        transition: 300ms;
    }


    .itemsFrame {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(2vw + 0.75em);
        margin-right: 0%;
        margin-bottom: 0%;
        width: 89%;
    }

    .itemslogo {
        width: 100%;
        aspect-ratio: 515 / 148;
    }



    .itemDesc {
        display: flex;
        max-width: 90%;
        flex-direction: column;
        color: #FFF;
        font-display: swap;
        text-align: center;
        font-size: calc(3vw + 0.5rem);
        font-weight: 100;
        line-height: calc(4.5vw + .5rem);
        letter-spacing: 0.0125vw;
    }




    .btnMobileFrame {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7vw;
    }

    .buyBtn {
        background: #0084D1;
        border: none;
        border-radius: 0.3rem;
        font-size: calc(1vw + 1rem);
        padding: 3.3%;
        font-display: swap;
        width: 42vw;
        max-width: 42vw;
        font-weight: 600;
        color: white;
        text-decoration: none;
        transition: 200ms;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    }

    .buyBtn:hover {
        transition: 200ms;
        border-radius: 0.3em;
        cursor: pointer;
        background: #005c91;
    }


    .btnImgLeft {
        display: block;
        width: 6.3vw;
        aspect-ratio: 164 / 245;
    }

    .btnImgRight {
        display: block;
        width: 6.3vw;
        aspect-ratio: 164 / 245;
    }



    .itemsContent {
        display: none;
    }

}







/* Phones */
@media (orientation: landscape) and (min-width: 100px) and (max-width: 767px) {


    .thumbContainer {
        display: none;
    }


    .itemsDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150vw;
        width: 100%;
        background-size: cover;
        background-position: 40%;
        transition: 300ms;
    }


    .itemsFrame {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(2vw + 0.75em);
        margin-right: 0%;
        margin-bottom: 0%;
        width: 89%;
    }

    .itemslogo {
        width: 100%;
        aspect-ratio: 515 / 148;
    }



    .itemDesc {
        display: flex;
        max-width: 90%;
        flex-direction: column;
        color: #FFF;
        font-display: swap;
        text-align: center;
        font-size: calc(3vw + 0.5rem);
        font-weight: 100;
        line-height: calc(4.5vw + .5rem);
        letter-spacing: 0.0125vw;
    }




    .btnMobileFrame {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7vw;
    }

    .buyBtn {
        background: #0084D1;
        border: none;
        border-radius: 0.3rem;
        font-size: calc(1vw + 1rem);
        padding: 3.3%;
        font-display: swap;
        width: 42vw;
        max-width: 42vw;
        font-weight: 600;
        color: white;
        text-decoration: none;
        transition: 200ms;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    }

    .buyBtn:hover {
        transition: 200ms;
        border-radius: 0.3em;
        cursor: pointer;
        background: #005c91;
    }


    .btnImgLeft {
        display: block;
        width: 6.3vw;
        aspect-ratio: 164 / 245;
    }

    .btnImgRight {
        display: block;
        width: 6.3vw;
        aspect-ratio: 164 / 245;
    }



    .itemsContent {
        display: none;
    }
}






/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .thumbContainer {
        display: none;
    }


    .itemsDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 121vw;
        min-height: 121vw;
        width: 100%;
        background-size: cover;
        background-position: 35%;
        transition: 300ms;
    }


    .itemsFrame {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(1.8vw + 0.8em);
        margin-right: 0%;
        margin-bottom: 0%;
        width: 90%;
    }

    .itemslogo {
        height: 22vw;
        width: 90%;
        aspect-ratio: 515 / 148;
    }


    .itemDesc {
        display: flex;
        max-width: 90%;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-size: calc(3.5vw + 0.5rem);
        font-weight: 100;
        line-height: calc(4.5vw + .7rem);
        letter-spacing: 0.0125vw;
    }




    .btnMobileFrame {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5vw;
    }

    .buyBtn {
        background: #0084D1;
        border: none;
        border-radius: 0.3em;
        font-size: calc(1.5vw + 1rem);
        padding: 3.3%;
        width: 30vw;
        font-weight: 600;
        color: white;
        text-decoration: none;
        transition: 200ms;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    }

    .buyBtn:hover {
        transition: 200ms;
        border-radius: 0.3em;
        cursor: pointer;
        background: #005c91;
    }


    .btnImgLeft {
        display: block;
        width: 4.3vw;
        aspect-ratio: 164 / 245;
    }

    .btnImgRight {
        display: block;
        width: 4.3vw;
        aspect-ratio: 164 / 245;
    }



    .itemsContent {
        display: none;
    }

}