.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: black;
}

.main {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  margin-bottom: 3vw;
  min-height: 100vh;
}

.cartSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
  margin-top: 1.9vw;
}

/* Phone */
@media (min-width: 100px) and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: black;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
    min-height: 100vh;
  }

  .cartSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
    padding: 0.5vw;
  }
}

/* Phones */
@media (orientation: landscape) and (min-width: 100px) and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: black;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
    min-height: 100vh;
  }

  .cartSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
    padding: 0.5vw;
    margin-bottom: 0vw;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: black;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-bottom: 7.2vw;
    min-height: 100vh;
  }

  .cartSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
    padding: 0vw;
    margin-bottom: 0vw;
  }
}
