.header {
    display: flex;
    justify-content: right;
    width: 100%;
    background-color: black;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
}






.sectionName {
    z-index: 2;
    text-transform: uppercase;
    font-size: 2.7vh;
    font-weight: 400;
    letter-spacing: 0.3rem;
    padding: 0.3em;
    border: 3px solid rgb(0, 0, 0);
    color: black;
    border-radius: 0.2em;
}

.cartItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
    justify-content: space-evenly;
    border-radius: 15px;
    height: 40vh;
    width: 100%;
}

.cartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40vh;
    border-radius: 15px;
    background-color: rgb(10, 10, 10);
    width: 65%;
}

.removeBtn {
    position: absolute;
    z-index: 2;
    top: 14.9vh;
    left: 65.3vw;
    background-color: rgb(206, 1, 1);
    text-transform: uppercase;
    border: none;
    padding: 10px;
    font-weight: 600;
    font-size: 1.20vh;
    border-radius: 10px;
    transition: 200ms;
}

.removeBtn:hover {
    cursor: pointer;
    background-color: rgb(150, 0, 0);
    transition: 200ms;
}

.itemsContent {
    display: flex;
    margin: 2em;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 34.78vh;
    width: 12.45vw;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
    transition: 200ms;
}

.itemsContent:hover {
    cursor: pointer;
}








.gamesDesc {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    font-size: 1.5vh;
}

.gameName {
    font-weight: 600;
    font-size: 3.2vh;
    color: rgb(255, 253, 253);
}

.gameData {
    font-weight: 100;
    font-size: 2vh;
    color: rgb(255, 253, 253);
    margin-top: 0.3em;
    width: 92%;
}

.gamePara {
    margin-top: 0.5em;
}

.gamesInfo {
    display: flex;
    width: 100%;
    height: 4vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
    border-radius: 12px;
    font-size: 1.5vh;
    margin-top: 5%;
}

.gamesPrice {
    display: flex;
    gap: 8px;
    font-weight: 400;
    font-size: 1.8vh;
}

.discountColor {
    background-color: rgb(0, 108, 122);
    padding: 6px;
    border-radius: 4.5px;
}

.strikeThrough {
    text-decoration: line-through;
    color: rgb(206, 206, 206);
}










.checkOutSection {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 40vh;
    width: 22%;
}

.gamePortrait {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gamesInfoCheck {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    align-items: center;
    background-color: rgb(0, 9, 12);
    font-size: 1.4vh;
}

.priceTitle {
    margin-top: 0.35em;
    font-size: 1.85vh;
}

.gamesPriceCheck {
    display: flex;
    gap: 8px;
    font-weight: 400;
    font-size: 1.7vh;
    margin-top: 3%;
    margin-bottom: 5%;
}

.strikeThroughCheck {
    text-decoration: line-through;
    color: rgb(206, 206, 206);
}

.addBtn {
    background-color: rgb(0, 51, 70);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 2.5vh;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 5vh;
    transition: 450ms;
}

.addBtn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 450ms;
    cursor: pointer;
}






.detailsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.detailsTitle {
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 5vh;
}

.detailsContent {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: black;
    font-size: 2.5vh;
}








.footer {
    display: flex;
    position: relative;
    top: 100vh;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: black;
}