.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.2vw;
  aspect-ratio: 1.2 / 1;
  margin-bottom: 3vw;
}

.section1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8vw;
  width: 100%;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4vw;
  width: 77.5vw;
  aspect-ratio: 1.45 / 1;
}

/* Phones: */
@media (min-width: 100px) and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0vw;
    aspect-ratio: 1.2 / 1;
    margin-bottom: 12.2vw;
  }

  .section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12vw;
    width: 100%;
  }

  .section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0vw;
    width: 0vw;
    aspect-ratio: none;
  }
}

/* Tablets: */
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0vw;
    aspect-ratio: 1.2 / 1;
    margin-bottom: 10.2vw;
  }

  .section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10vw;
    width: 100%;
  }

  .section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0vw;
    width: 0vw;
    aspect-ratio: none;
  }
}
