.titleFrame {
    display: flex;
    justify-content: flex-start;
    width: 74.4%;
    margin-bottom: 0.2vw;
}

.titleFrame h1 {
    color: black;
    padding: 0.5vw;
    font-size: calc(1.2vw + .6rem);
    font-weight: 600;
}

.cartContainer {
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 100%;
}


.itemsSection {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 55%;
}

/* Item array section */
.itemsContainer {
    display: flex;
    background-color: rgb(20, 20, 20);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    border-radius: .6vw;
    margin-top: 0.5%;
    margin-bottom: 0.5em;
}

.itemIcon {
    width: 11vw;
    height: 15vw;
    margin: 1%;
    align-self: stretch;
    border-radius: 4%;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 100ms;
}

.itemIcon:hover {
    cursor: pointer;
}

.itemInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    font-size: calc(0.5vw + 0.4rem);
    font-weight: 100;
    margin: 1%;
    width: 100%;
    color: white;
}



.dataContainer {
    font-size: calc(0.55vw + 0.5rem);
    font-weight: 100;
    text-align: left;
    width: 100%;
}

.itemData {
    margin-top: 1%;
    margin-bottom: 1%;
}




.priceAmount {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}


.amountContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    border-radius: 0.3vw;
    background-color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: calc(0.5vw + 0.47rem);
    margin-bottom: 0.8%;
    overflow: hidden;
}

.decreaseBtn {
    width: 30%;
    border: none;
    font-size: calc(0.65vw + 0.55rem);
    font-weight: 400;
    background: #0084D1;
    transition: 100ms;
}

.increaseBtn {
    width: 30%;
    height: 100%;
    border: none;
    font-size: calc(0.6vw + 0.55rem);
    font-weight: 400;
    background: #0084D1;
    transition: 100ms;
}

.decreaseBtn:hover {
    cursor: pointer;
    background: #005c91;
    transition: 100ms;
}

.increaseBtn:hover {
    cursor: pointer;
    background: #005c91;
    transition: 100ms;
}

.itemPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8%;
    width: 20%;
    font-size: calc(0.55vw + 0.4rem);
    font-weight: 400;
    border-radius: 0.4vw;
    background-color: rgb(179, 21, 0)
}


.removeBtn {
    background-color: rgb(168, 1, 1);
    font-size: calc(0.5vw + .35rem);
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.6%;
    margin-left: auto;
    border: none;
    transition: 200ms;
}

.removeBtn:hover {
    cursor: pointer;
    transition: 200ms;
    color: rgb(196, 196, 196);
    background-color: rgb(110, 13, 0);
}









/* Checkout section */
.checkOutSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 16.6%;
    height: 100%;
    border-radius: 0.6vw;
    overflow: hidden;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.gamePortrait {
    width: 100%;
}

.checkOutInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    padding: 0.5vw;
    gap: 0.45vw;
    font-size: calc(0.55vw + .35rem);
}

.subtotalTitle {
    display: flex;
    font-weight: 400;
}

.checkOutBtn {
    background: #0084D1;
    border: none;
    font-size: calc(1vw + .4vw);
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    height: 2.75vw;
    width: 100%;
    transition: 170ms;
}

.checkOutBtn:hover {
    background-color: rgb(0, 76, 104);
    transition: 200ms;
    color: rgb(255, 255, 255);
    cursor: pointer;
}




.emptyContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.055);
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    height: 100vh;
}

.emptyTitle {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.4);
    font-size: calc(2.3vw + 0.9rem);
}












/* Mobile */
@media(min-width: 100px) and (max-width: 767px) {
    .itemsSection {
        width: 90%;
        margin: 1em;
    }

    /* Item array section */
    .itemsContainer {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        margin-top: 0.2em;
        margin-bottom: 0.3em;
        width: 100%;
        height: 100%;
        justify-content: none;
    }

    .itemIcon {
        background-size: cover;
        height: 10.5em;
        width: 7.85em;
        margin: 0.25em;
        border-radius: 7px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
    }


    .itemInfo {
        font-size: 0.4rem;
        font-weight: 100;
        margin-top: 1em;
        margin-right: auto;
        height: 100%;
        width: 50%;
        justify-content: space-around;
    }

    .dataContainer {
        font-size: 0.54rem;
        font-weight: 100;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 7.8em;
    }

    .itemData {
        margin-top: 0%;
        margin-bottom: 0.4em;
    }

    .amountContainer {
        width: 7em;
        border-radius: 5px;
        margin-top: 0%;
        margin-bottom: .78vh;
        font-size: 0.7rem;
    }

    .decreaseBtn {
        width: 25%;
        height: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 0.7rem;
    }

    .increaseBtn {
        width: 25%;
        height: 100%;
        font-size: 0.7rem;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .itemPrice {
        height: 1.6em;
        width: 8em;
        gap: 0.3em;
        font-size: 0.7rem;
        border-radius: 3.5px;
        text-align: center;
    }

    .removeBtn {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 0.45rem;
        padding: 0.5em;
        margin-left: 0%;
    }








    /* Checkout section */
    .checkOutSection {
        display: flex;
        align-items: center;
        width: 50%;
        height: 70%;
        flex-direction: column;
        margin-top: 0em;
        margin-bottom: 1.2em;
    }

    .gamePortrait {
        display: none;
    }

    .checkOutInfo {
        display: flex;
        height: 5.5vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgb(20, 20, 20);
        font-size: 0.7rem;
        padding: 0.7em;
        gap: 0.5em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        flex-direction: row;
    }

    .subtotalTitle {
        display: flex;
        font-weight: 400;
    }

    .checkOutBtn {
        background-color: rgb(0, 51, 70);
        border: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        width: 100%;
        height: 5.5vh;
        transition: 200ms;
    }

    .checkOutBtn:hover {
        background-color: rgb(0, 76, 104);
        transition: 200ms;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }




    .emptyContainer {
        display: flex;
        background-color: rgba(20, 20, 20, 0.05);
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        height: 90vh;
    }

    .emptyTitle {
        font-weight: 100;
        color: rgba(0, 0, 0, 0.3);
        font-size: 3.8vh;
    }
}









/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .itemsSection {
        width: 70%;
        margin: 0em;
        margin: 1em;
        justify-content: center;
    }

    /* Item array section */
    .itemsContainer {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        width: 100%;
        height: 20.6em;
        justify-content: none;
    }

    .itemIcon {
        background-size: cover;
        height: 19.5em;
        width: 15em;
        margin: 0.5em;
        border-radius: 7px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
    }

    .itemInfo {
        font-size: 0.95rem;
        font-weight: 100;
        margin-top: 0%;
        margin-right: auto;
        height: 100%;
        width: 50%;
        justify-content: space-around;
    }

    .dataContainer {
        font-size: 1.15rem;
        font-weight: 100;
        width: 100%;
        margin-top: 0.5em;
        margin-bottom: 25%;
    }

    .itemData {
        margin-top: 0%;
        margin-bottom: 3.2%;
    }

    .amountContainer {
        width: 8em;
        border-radius: 5px;
        margin-top: 0%;
        margin-bottom: .78vh;
        font-size: 1.15rem;
    }

    .decreaseBtn {
        width: 25%;
        height: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 1.2rem;
    }

    .increaseBtn {
        width: 25%;
        height: 100%;
        font-size: 1.2rem;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .itemPrice {
        height: 1.9em;
        width: 11em;
        gap: 0.3em;
        font-size: 1.1rem;
        border-radius: 3.5px;
        text-align: center;
    }

    .removeBtn {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 0.95rem;
        padding: 0.5em;
        margin-left: 0%;
    }










    /* Checkout section */
    .checkOutSection {
        display: flex;
        align-items: center;
        width: 35%;
        margin-right: 1em;
        height: 70%;
        flex-direction: column;
        margin-top: 1.5em;
    }

    .gamePortrait {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .checkOutInfo {
        display: flex;
        flex-direction: row;
        height: 7%;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgb(20, 20, 20);
        font-size: 1.2rem;
        padding: 0.7em;
        gap: 0.5em;
    }

    .subtotalTitle {
        display: flex;
        font-weight: 400;
    }

    .checkOutBtn {
        background-color: rgb(0, 51, 70);
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 1.45rem;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        width: 100%;
        height: 2em;
        transition: 200ms;
    }

    .checkOutBtn:hover {
        background-color: rgb(0, 76, 104);
        transition: 200ms;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }




    .emptyContainer {
        display: flex;
        background-color: rgba(20, 20, 20, 0.05);
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        height: 90vh;
    }

    .emptyTitle {
        font-weight: 100;
        color: rgba(0, 0, 0, 0.3);
        font-size: 3.5vh;
    }
}