.imgDisplay {
    height: 68vh;
    background-size: cover;
    background-position: center;
    transition: 200ms;
}

.imgContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    bottom: 9.4vh;
}

.imgHolder {
    width: 12.1%;
    margin: 0.5vh;
}

.imgItems {
    width: 100%;
    transition: 150ms;
    border-radius: 10px;
}

.imgItems:hover {
    cursor: pointer;
    transition: 150ms;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.selectedImg {
    transform: scale(1.06);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
}






.buyingSection {
    display: flex;
    position: absolute;
    top: 15.5vh;
    left: 10vw;
    justify-content: flex-start;
    flex-direction: column;
    width: 18%;
}

.gamePortrait {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gamesInfo {
    display: flex;
    flex-direction: column;
    height: 8%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(20, 20, 20);
    font-size: 1.5vh;
    padding-top: 2.8%;
}

.gamesPrice {
    display: flex;
    gap: 8px;
    font-weight: 400;
    margin-top: 3.5%;
    margin-bottom: 5%;
}

.discountColor {
    background-color: rgb(0, 71, 97);
    padding: 6px;
    border-radius: 4px;
}


.strikeThrough {
    text-decoration: line-through;
    color: rgb(206, 206, 206);
}

.addBtn {
    background-color: rgb(0, 51, 70);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 2.5vh;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 5.4vh;
    transition: 170ms;
}

.addBtn:hover {
    background-color: rgb(179, 21, 0);
    transition: 170ms;
    cursor: pointer;
}






.detailsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.detailsTitle {
    text-transform: uppercase;
    text-align: center;
    color: rgb(20, 20, 20);
    font-size: 5vh;
}

.detailsContent {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: black;
    font-size: 2.5vh;
}




/* Phones: */
@media (min-width: 100px) and (max-width: 767px) {
    .imgDisplay {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        background-size: cover;
        background-position: center;
        transition: 200ms;
    }

    .imgContainer {
        display: flex;
        justify-content: center;
        position: initial;
        margin-top: 2.5em;
        margin-bottom: 1.2em;
        flex-direction: column;
        align-items: center;
    }

    .imgHolder {
        width: 85%;
        margin: 0.2.5em;
    }

    .imgItems {
        width: 100%;
        transition: 150ms;
        border-radius: 10px;
    }

    .imgItems:hover {
        cursor: pointer;
        transition: 150ms;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
        transform: scale(1);
    }

    .selectedImg {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
    }





    .buyingSection {
        display: flex;
        position: initial;
        justify-content: flex-start;
        flex-direction: column;
        width: 63%;
        height: auto;
    }

    .gamePortrait {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 100%;
    }


    .gamesInfo {
        display: flex;
        flex-direction: column;
        height: 8%;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        background-color: rgb(20, 20, 20);
        font-size: 0.75rem;
        padding: auto;
    }

    .gamesPrice {
        display: flex;
        gap: 0.5em;
        font-weight: 400;
        margin-top: 3.5%;
        margin-bottom: 5%;
    }

    .discountColor {
        background-color: rgb(0, 71, 97);
        padding: 5px;
        border-radius: 4px;
    }


    .strikeThrough {
        text-decoration: line-through;
        color: rgb(206, 206, 206);
    }

    .addBtn {
        background-color: rgb(0, 51, 70);
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        width: 100%;
        height: 5.6vh;
        transition: 170ms;
    }

    .addBtn:hover {
        background-color: rgb(179, 21, 0);
        transition: 170ms;
        cursor: none;
    }




    .detailsContainer {
        display: flex;
        align-items: center;
        gap: 2.5vh;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;

    }

    .detailsTitle {
        text-transform: uppercase;
        text-align: center;
        color: rgb(197, 23, 0);
        font-size: 1.4rem;
    }

    .detailsContent {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        color: rgb(0, 0, 0);
        font-size: 0.9rem;
    }
}









/* Tablet: */
@media (min-width: 768px) and (max-width: 1024px) {
    .imgDisplay {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        background-size: cover;
        background-position: -60vw;
        transition: 200ms;
    }

    .imgContainer {
        display: flex;
        justify-content: center;
        position: initial;
        margin-top: 3em;
        margin-bottom: 1.8em;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .imgHolder {
        width: 45%;
        margin: 0.6em;
    }

    .imgItems {
        width: 100%;
        transition: 150ms;
        border-radius: 10px;
    }

    .imgItems:hover {
        cursor: pointer;
        transition: 150ms;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
        transform: scale(1);
    }

    .selectedImg {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
    }







    .buyingSection {
        display: flex;
        position: absolute;
        top: 12vh;
        left: 6vw;
        justify-content: flex-start;
        flex-direction: column;
        width: 45%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
    }

    .gamePortrait {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        opacity: 100%;
        width: 100%;
    }

    .gamesInfo {
        display: flex;
        flex-direction: column;
        height: 8%;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgb(20, 20, 20);
        font-size: 1.2rem;
        padding: 2%;
    }

    .gamesPrice {
        display: flex;
        gap: 4%;
        font-weight: 400;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .discountColor {
        background-color: rgb(0, 71, 97);
        padding: 5px;
        border-radius: 3px;
    }


    .strikeThrough {
        text-decoration: line-through;
        color: rgb(206, 206, 206);
    }

    .addBtn {
        background-color: rgb(0, 51, 70);
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        width: 100%;
        height: 5.6vh;
        transition: 170ms;
        width: 100%;
    }

    .addBtn:hover {
        background-color: rgb(0, 51, 70);
        transition: 170ms;
        cursor: none;
    }






    .detailsContainer {
        display: flex;
        align-items: center;
        gap: 2.5vh;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;

    }

    .detailsTitle {
        text-transform: uppercase;
        text-align: center;
        color: rgb(197, 23, 0);
        font-size: 3.5vh;
    }

    .detailsContent {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        color: rgb(0, 0, 0);
        font-size: 2vh;
    }
}