.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(3vw + 1rem);
    min-height: 100vh;
}

.ReleasesSec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 0.42;
    position: relative;
    margin-bottom: 4%;
}

.OnSaleSec {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1 / 0.2;
}


.PopularSec {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1 / 0.2;
}


.CoomingSec {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1 / 0.2;
}


.BestSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 83.52vw;
    max-width: 83.52vw;
    margin-bottom: 4%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3vw;
    background: #000;
}



/* Phones */
@media (min-width: 100px) and (max-width: 767px) {

    .main {
        gap: 17vw;
        min-height: 100vh;
    }


    .ReleasesSec {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 0%;
    }

    .OnSaleSec {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .PopularSec {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }


    .CoomingSec {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }


    .BestSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        margin-bottom: 17vw;
    }


    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 12vw;
        background: #000;
    }
}



/* Phones */
@media (orientation: landscape) and (min-width: 100px) and (max-width: 767px) {

    .main {
        gap: 17vw;
        min-height: 100vh;
    }


    .ReleasesSec {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 0%;
    }

    .OnSaleSec {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .PopularSec {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }


    .CoomingSec {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }


    .BestSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        margin-bottom: 17vw;
    }


    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 12vw;
        background: #000;
    }
}





/* Tablet   */
@media (min-width: 768px) and (max-width: 1023px) {
    .main {
        gap: 13.5vw;
        min-height: 100vh;
    }


    .ReleasesSec {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 0%;
    }

    .OnSaleSec {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .PopularSec {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }


    .CoomingSec {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }


    .BestSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 96.54vw;
        margin-bottom: 13.5vw;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 9.3vw;
        background: #000;
    }

}