.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: min(6.4vh, 4em);
}

.navContainer {
    display: flex;
    align-items: center;
}

.navbar ul li {
    display: inline-block;
    margin-left: 0.7em;
    font-size: max(0.73vw, 1rem);
    font-weight: 100;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(0, 128, 197);
    border-bottom: 0.1rem solid rgb(0, 128, 197);
    cursor: pointer;
}

.logo {
    width: max(2.8vw, 4em);
    margin-left: 0.6em;
}

.logo:hover {
    cursor: pointer;
}







.profileFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 4.8vh;
    padding-right: 0.8em;
}

.cartContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3em;
}

.cart {
    width: max(1.1vw, 1.6em);
}

.cart:hover {
    cursor: pointer;
}




.profilePic {
    width: max(1.1vw, 1.6em);
    margin-right: 0.8em;
    border-radius: 1rem;
}

.profileName {
    font-size: max(0.65vw, 0.95rem);
    font-weight: 100;
}

.profileName a {
    text-decoration: none;
}

.profileName:hover {
    cursor: pointer;
}





.sessionFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    margin-right: 0.8em;
}

.singOutContainer {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.95);
    position: absolute;
    z-index: 3;
    top: 4.75vh;
    height: 4vh;
    width: 4.1vw;
}

.singOutBtn {
    font-size: max(0.65vw, 0.95rem);
    font-weight: 100;
}

.singOutBtn:hover {
    cursor: pointer;
}



.navResponsive {
    display: none;
}




/* Phones */
@media (min-width: 100px) and (max-width: 767px) {
    .navbar {
        display: none;
    }

}


/* Tablet: */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        display: none;
    }

}