.navbar {
    display: flex;
    width: 100%;
    padding-top: calc(0.4vw + 0.3em);
    padding-bottom: calc(0.4vw + 0.3em);
    padding-left: calc(0.4vw + 1em);
    padding-right: calc(0.4vw + 1em);
    justify-content: space-between;
    align-items: center;
    background: #050505;
}


.navFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7vw;
}


.linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7vw;
}

.navbar ul li {
    display: inline-block;
    color: #FFF;
    font-size: calc(0.62vw + .25rem);
    font-weight: 100;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #0084D1;
    border-bottom: 0.1em solid #0084D1;
    cursor: pointer;
}


.logo {
    width: calc(2.25vw + .6rem);
    aspect-ratio: 1 / 0.6;
}

.logo:hover {
    cursor: pointer;
}







.userFrame {
    display: flex;
    align-items: center;
    gap: 0.7vw;
    position: relative;
}

.cartContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2vw;
}

.cart {
    width: 1.18vw;
    aspect-ratio: 1 / 1;
}

.cart:hover {
    cursor: pointer;
}




.profilePic {
    display: none;
    background-size: cover;
    background-position: center;
    height: 1.65vw;
    width: 1.65vw;
    border-radius: 2.5em;
    cursor: pointer;
}

.signInBtn {
    color: #FFF;
    font-size: calc(0.62vw + .25rem);
    font-weight: 100;
}

.signInBtn a {
    text-decoration: none;
}

.signInBtn:hover {
    color: #0084D1;
    cursor: pointer;
}





.sessionFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.signOutContainer {
    display: none;
    justify-content: center;
    align-items: center;
    background: #050505;
    position: absolute;
    z-index: 3;
    top: 2.2vw;
    height: 1.8vw;
    width: 100%;
    right: 0;
}

.signOutBtn {
    font-size: calc(0.62vw + .25rem);
    font-weight: 100;
}

.signOutBtn:hover {
    cursor: pointer;
}






.navResponsive {
    display: none;
}




/* Phones */
@media (min-width: 100px) and (max-width: 767px) {
    .navbar {
        display: none;
    }

}


/* Tablet: */
@media (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        display: none;
    }

}