.itemsContainer {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 1%;
  grid-template-columns: auto auto;
}

.itemIcon1,
.itemIcon2 {
  border-radius: 1.1vw;
  transition: 200ms;
  position: relative;
}

.itemsContainer a img {
  height: 100%;
  width: 100%;
  border-radius: 1.1vw;
  object-fit: fill;
}

.itemIcon1:hover,
.itemIcon2:hover {
  transform: scale(1.005);
  transition: 200ms;
  cursor: pointer;
}

.descContainerSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.7vw;
  position: absolute;
  top: 0%;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 1.1vw;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 29.17%,
    rgba(0, 0, 0, 0.6) 44.17%,
    rgba(0, 0, 0, 0.8) 68.23%,
    #000 88.02%
  );
}

.descContainerSmall h2 {
  color: #fff;
  text-align: center;
  font-size: 1.9vw;
  font-weight: 100;
  letter-spacing: -0.05vw;
  margin-top: 24.55%;
}

.descContainerSmall p {
  color: #fff;
  text-align: center;
  font-size: 0.95vw;
  font-weight: 400;
}

/* Phones */
@media (min-width: 100px) and (max-width: 767px) {
  .itemsContainer {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 3.2%;
    grid-template-columns: auto;
  }

  .itemIcon1,
  .itemIcon2 {
    border-radius: 5vw;
    transition: 200ms;
    position: relative;
  }

  .itemsContainer a img {
    height: 100%;
    width: 100%;
    border-radius: 5vw;
    object-fit: fill;
  }

  .itemIcon1:hover,
  .itemIcon2:hover {
    transform: scale(1.005);
    transition: 200ms;
    cursor: pointer;
  }

  .descContainerSmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.6vw;
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 5vw;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 29.17%,
      rgba(0, 0, 0, 0.6) 44.17%,
      rgba(0, 0, 0, 0.8) 68.23%,
      #000 88.02%
    );
  }

  .descContainerSmall h2 {
    color: #fff;
    text-align: center;
    font-size: 6.5vw;
    font-weight: 300;
    letter-spacing: -0.05vw;
    margin-top: 24.55%;
  }

  .descContainerSmall p {
    color: #fff;
    text-align: center;
    font-size: 4vw;
    font-weight: 400;
  }
}

/* Phones */
@media (orientation: landscape) and (min-width: 100px) and (max-width: 767px) {
  .itemsContainer {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 3.2%;
    grid-template-columns: auto;
  }

  .itemIcon1,
  .itemIcon2 {
    border-radius: 5vw;
    transition: 200ms;
    position: relative;
  }

  .itemsContainer a img {
    height: 100%;
    width: 100%;
    border-radius: 5vw;
    object-fit: fill;
  }

  .itemIcon1:hover,
  .itemIcon2:hover {
    transform: scale(1.005);
    transition: 200ms;
    cursor: pointer;
  }

  .descContainerSmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.6vw;
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 5vw;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 29.17%,
      rgba(0, 0, 0, 0.6) 44.17%,
      rgba(0, 0, 0, 0.8) 68.23%,
      #000 88.02%
    );
  }

  .descContainerSmall h2 {
    color: #fff;
    text-align: center;
    font-size: 6.5vw;
    font-weight: 300;
    letter-spacing: -0.05vw;
    margin-top: 24.55%;
  }

  .descContainerSmall p {
    color: #fff;
    text-align: center;
    font-size: 4vw;
    font-weight: 400;
  }
}

/* Tablet   */
@media (min-width: 768px) and (max-width: 1023px) {
  .itemsContainer {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 3.2%;
    grid-template-columns: auto;
  }

  .itemIcon1,
  .itemIcon2 {
    border-radius: 5vw;
    transition: 200ms;
    position: relative;
  }

  .itemsContainer a img {
    height: 100%;
    width: 100%;
    border-radius: 5vw;
    object-fit: fill;
  }

  .itemIcon1:hover,
  .itemIcon2:hover {
    transform: scale(1.005);
    transition: 200ms;
    cursor: pointer;
  }

  .descContainerSmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.6vw;
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 5vw;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 29.17%,
      rgba(0, 0, 0, 0.6) 44.17%,
      rgba(0, 0, 0, 0.8) 68.23%,
      #000 88.02%
    );
  }

  .descContainerSmall h2 {
    color: #fff;
    text-align: center;
    font-size: 5.5vw;
    font-weight: 100;
    letter-spacing: -0.05vw;
    margin-top: 24.55%;
  }

  .descContainerSmall p {
    color: #fff;
    text-align: center;
    font-size: 3.3vw;
    font-weight: 400;
  }
}
