.sectionName {
    display: flex;
    flex-direction: column;
    color: #1A1A1A;
    text-align: center;
    font-size: calc(1.25vw + .5rem);
    font-display: swap;
    padding: 1%;
    font-weight: 600;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1%;
}

.itemIcon {
    height: 16vw;
    width: 28vw;
    aspect-ratio: 1 / 1;
    border-radius: 1.2em;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transition: 200ms;
    margin-bottom: 1.2%;
}

.itemIcon:hover {
    transform: scale(1.01);
    transition: 200ms;
    cursor: pointer;
}




/* Phones */
@media (min-width: 100px) and (max-width: 767px) {
    .sectionName {
        display: flex;
        flex-direction: column;
        color: #1A1A1A;
        text-align: center;
        font-size: calc(3vw + 1rem);
        font-weight: 600;
        padding: 2%;
    }

    .itemsContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 1%;
    }

    .itemIcon {
        width: 100%;
        border-radius: 0.7em;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
        transition: 200ms;
        margin-bottom: 3%;
        height: 47vw;
        aspect-ratio: 2 / 1;
    }

    .itemIcon:hover {
        transform: scale(1);
    }
}




/* Phones */
@media (orientation: landscape) and (min-width: 100px) and (max-width: 767px) {
    .sectionName {
        display: flex;
        flex-direction: column;
        color: #1A1A1A;
        text-align: center;
        font-size: calc(3vw + 1rem);
        font-weight: 600;
        padding: 2%;
    }

    .itemsContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 1%;
    }

    .itemIcon {
        width: 100%;
        border-radius: 0.7em;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
        transition: 200ms;
        margin-bottom: 3%;
        height: 47vw;
        aspect-ratio: 2 / 1;
    }

    .itemIcon:hover {
        transform: scale(1);
    }
}





/* Tablet   */
@media (min-width: 768px) and (max-width: 1023px) {
    .sectionName {
        display: flex;
        flex-direction: column;
        color: #1A1A1A;
        text-align: center;
        font-size: calc(2.8vw + 1rem);
        font-weight: 600;
        padding: 2%;
    }

    .itemsContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 2%;
    }

    .itemIcon {
        width: 100%;
        border-radius: 0.7em;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
        transition: 200ms;
        margin-bottom: 3%;
        height: 47vw;
        aspect-ratio: 2 / 1;
    }

    .itemIcon:hover {
        transform: scale(1);
    }
}