.sectionName {
    display: flex;
    flex-direction: column;
    color: #1A1A1A;
    text-align: center;
    font-size: calc(1.25vw + .5rem);
    padding: 1%;
    font-weight: 600;
}

.itemsContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 1%;
}

.itemIcon {
    width: 100%;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transition: 200ms;
    margin: 1%;
}

.itemIcon:hover {
    transform: scale(1.01);
    transition: 200ms;
    cursor: pointer;
}




/* Phones */
@media (min-width: 100px) and (max-width: 767px) {

    .alingTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1em;
    }

    .sectionName {
        color: black;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 0.3rem;
        padding: 0.3em;
        border: 2.5px solid rgb(0, 0, 0);
        border-radius: 0.2em;
        margin-bottom: 5vh;
    }

    .itemsGrid {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-rows: 31.5vh 31.5vh 31.5vh 31.5vh;
        grid-template-columns: 95vw;
        width: 100%;
        gap: 1%;
    }

    .itemsContent {
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        transition: 200ms;
        z-index: 2;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
    }

    .itemsContent:hover {
        transform: scale(1.01);
        transition: 200ms;
        cursor: pointer;
    }
}






/* Tablet   */
@media (min-width: 768px) and (max-width: 1024px) {
    .alingTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1em;
    }

    .sectionName {
        color: black;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 0.3rem;
        padding: 0.3em;
        border: 2.5px solid rgb(0, 0, 0);
        border-radius: 0.2em;
        margin-bottom: 4.3vh;
    }

    .itemsGrid {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-rows: 35vh 35vh 35vh 35vh;
        grid-template-columns: 86vw;
        width: 100%;
        gap: 1%;
    }

    .itemsContent {
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        transition: 200ms;
        z-index: 2;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
    }

    .itemsContent:hover {
        transform: scale(1.01);
        transition: 200ms;
        cursor: pointer;
    }
}