.alingTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sectionName {
    color: black;
    text-transform: uppercase;
    font-size: 1.85vh;
    font-weight: 400;
    letter-spacing: 0.3rem;
    padding: 0.3em;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 0.2em;
    margin-bottom: 1.8vh;
}

.itemsGrid {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 31.5vh 31.5vh;
    grid-template-columns: 28vw 28vw 28vw;
    width: 100%;
    gap: .3%;
}

.itemsContent {
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: 200ms;
    z-index: 2;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.itemsContent:hover {
    transform: scale(1.01);
    transition: 200ms;
    cursor: pointer;
}

/* Phones */
@media (min-width: 100px) and (max-width: 599px) {

    .alingTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1em;
    }

    .sectionName {
        color: black;
        text-transform: uppercase;
        font-size: 2.7vh;
        font-weight: 400;
        letter-spacing: 0.3rem;
        padding: 0.3em;
        border: 2.5px solid rgb(0, 0, 0);
        border-radius: 0.2em;
        margin-bottom: 5vh;
    }

    .itemsGrid {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-rows: 31.5vh 31.5vh 31.5vh 31.5vh;
        grid-template-columns: 95vw;
        width: 100%;
        gap: 1%;
    }

    .itemsContent {
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        transition: 200ms;
        z-index: 2;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
    }

    .itemsContent:hover {
        transform: scale(1.01);
        transition: 200ms;
        cursor: pointer;
    }
}






/* Tablet   */
@media (min-width: 600px) and (max-width: 1024px) {
    .alingTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1em;
    }

    .sectionName {
        color: black;
        text-transform: uppercase;
        font-size: 2.7vh;
        font-weight: 400;
        letter-spacing: 0.3rem;
        padding: 0.3em;
        border: 2.5px solid rgb(0, 0, 0);
        border-radius: 0.2em;
        margin-bottom: 5vh;
    }

    .itemsGrid {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-rows: 38vh 38vh 38vh 38vh;
        grid-template-columns: 95vw;
        width: 100%;
        gap: 1%;
    }

    .itemsContent {
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        transition: 200ms;
        z-index: 2;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
    }

    .itemsContent:hover {
        transform: scale(1.01);
        transition: 200ms;
        cursor: pointer;
    }
}