.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3vw;
  width: 82%;
  flex-direction: column;
}

.gameTitle {
  color: black;
  text-transform: uppercase;
  font-size: 2.8vw;
  text-align: center;
  min-width: 100%;
}

.titleDesc {
  color: black;
  font-size: 1.09vw;
  font-weight: 300;
  line-height: 2vw;
  text-align: center;
  width: 62%;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  gap: 2.8%;
  aspect-ratio: 3 / 1;
}

.gamesTrailer {
  width: 42vw;
  border-radius: 1vw;
  aspect-ratio: 16 / 9;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.8);
  border: none;
}

.gameDescription {
  color: black;
  font-size: 0.85vw;
  max-width: 40%;
  line-height: 1.84vw;
  padding: 1.5%;
  font-weight: 300;
  border-radius: 1vw;
  background-color: rgba(0, 0, 0, 0.99);
  color: white;
}

.gameExtras {
  display: flex;
  flex-direction: column;
  gap: 0.9vw;
  width: 94.1%;
}

.criticsTitle {
  color: black;
  font-weight: 500;
  font-size: 1.4vw;
  padding-bottom: 0.67%;
  text-transform: uppercase;
}

.scoreContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5.5vw;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: 1.2vw;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
}

.scorePlatform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.platformItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.725vw;
}

.circleBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
  width: 4.95vw;
  height: 4.95vw;
  border-radius: 1000px;
}

.circleInside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 4.48vw;
  height: 4.48vw;
  border-radius: 1000px;
}

.score {
  font-size: 1.8vw;
  font-weight: 400;
  color: black;
}

.criticsText {
  font-size: 0.78vw;
  font-weight: 400;
  color: black;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 92.3%;
}

.detailsTags {
  display: flex;
  gap: 2.3vw;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  gap: 0.28vw;
}

.detailsTitle {
  font-size: 0.9vw;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(58, 58, 58);
}

.detailsDesc {
  display: flex;
  gap: 0.55vw;
}

.detailsText {
  color: black;
  font-weight: 400;
  font-size: 0.7vw;
}

/* Phones: */
@media (min-width: 100px) and (max-width: 767px) {
  .titleContainer {
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3vw;
    width: 82%;
    flex-direction: column;
  }

  .videoContainer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 94%;
    gap: 2.8%;
    aspect-ratio: 3 / 1;
  }

  .gameExtras {
    display: none;
    flex-direction: column;
    gap: 0.9vw;
    width: 94.1%;
  }
}
/* Phones */
@media (orientation: landscape) and (min-width: 100px) and (max-width: 767px) {
  .titleContainer {
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3vw;
    width: 82%;
    flex-direction: column;
  }

  .videoContainer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 94%;
    gap: 2.8%;
    aspect-ratio: 3 / 1;
  }

  .gameExtras {
    display: none;
    flex-direction: column;
    gap: 0.9vw;
    width: 94.1%;
  }
}

/* Tablet: */
@media (min-width: 768px) and (max-width: 1023px) {
  .titleContainer {
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3vw;
    width: 82%;
    flex-direction: column;
  }

  .videoContainer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 94%;
    gap: 2.8%;
    aspect-ratio: 3 / 1;
  }

  .gameExtras {
    display: none;
    flex-direction: column;
    gap: 0.9vw;
    width: 94.1%;
  }
}
