.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.8vw;
  background: #000;
  font-weight: 400;
  font-size: 0.625vw;
}

/* Phones */
@media (min-width: 100px) and (max-width: 767px) {
  .Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 16vw;
    background: #000;
    font-weight: 400;
    font-size: 3.2vw;
  }
}

@media (orientation: landscape) and (min-width: 100px) and (max-width: 767px) {
  .Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 16vw;
    background: #000;
    font-weight: 400;
    font-size: 3.2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10.5vw;
    background: #000;
    font-weight: 400;
    font-size: 2.2vw;
  }
}
