.navResponsive {
    display: none;
}


/* Phones */
@media (min-width: 100px) and (max-width: 767px) {
    .navbar {
        display: none;
    }


    .navResponsive {
        display: flex;
        position: relative;
        width: 100%;
        padding-top: calc(0.4vw + 0.3em);
        padding-bottom: calc(0.4vw + 0.3em);
        padding-left: calc(1vw + 1em);
        padding-right: calc(0.4vw + 1em);
        justify-content: space-between;
        align-items: center;
        background: #050505;
    }


    .navIcon {
        width: 9%;
    }


    .logo {
        width: 15%;
    }

    .logo:hover {
        cursor: pointer;
    }


    .navFrame {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0%;
        align-items: center;
        z-index: 2;
        background: #050505;
        border-top: 0.75vw solid rgba(56, 56, 56, 0.6);
        border-bottom: 0.75vw solid rgba(56, 56, 56, 0.6);
        width: 100%;
    }


    .linksContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 5vw;
        padding-top: 4vw;
    }

    .navResponsive ul li {
        display: inline-block;
        color: #FFF;
        font-size: calc(1.5vw + .6rem);
        font-weight: 400;
    }

    .navResponsive ul li a {
        text-decoration: none;
    }







    .userFrame {
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    .cartContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5vw;
    }

    .cartAmount {
        display: flex;
        justify-content: center;
        gap: 0.5vw;
    }

    .cart {
        width: 4.6vw;
    }






    .profilePic {
        display: none;
        background-size: cover;
        background-position: center;
        height: 8vw;
        width: 8vw;
        border-radius: 2.5em;
        cursor: pointer;
    }

    .signInBtn {
        color: #FFF;
        font-size: calc(1.5vw + .6rem);
    }

    .signInBtn a {
        text-decoration: none;
    }





    .sessionFrame {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }



    .sessionFrame a {
        font-size: calc(1.5vw + .6rem);
        font-weight: 400;
        text-decoration: none;
    }


    .profileContainer {
        display: flex;
        justify-content: center;
        border-top: 0.75vw solid rgba(56, 56, 56, 0.6);
        align-items: center;
        width: 100vw;
        margin-top: 5vw;
        padding: 3vw;
        gap: 2vw;
    }


    .signOutBtn {
        font-size: calc(1.5vw + .6rem);
    }
}






/* Tablet: */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        display: none;
    }


    .navResponsive {
        display: flex;
        position: relative;
        width: 100%;
        padding-top: calc(1vw + 0.3em);
        padding-bottom: calc(1vw + 0.3em);
        padding-left: calc(1vw + 1em);
        padding-right: calc(1vw + 1em);
        justify-content: space-between;
        align-items: center;
        background: #050505;
    }


    .navIcon {
        width: 5.5%;
    }


    .logo {
        width: 9%;
    }


    .navFrame {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0%;
        align-items: flex-start;
        z-index: 2;
        background: #050505;
        border-top: 0.75vw solid rgba(56, 56, 56, 0.6);
        border-bottom: 0.75vw solid rgba(56, 56, 56, 0.6);
        width: 100%;
    }


    .linksContainer {
        display: flex;
        margin-left: 3%;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.5vw;
        padding-top: 3vw;
    }

    .navResponsive ul li {
        display: inline-block;
        color: #FFF;
        font-size: calc(1.7vw + .6rem);
        font-weight: 400;
    }

    .navResponsive ul li a {
        text-decoration: none;
    }







    .userFrame {
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    .cartContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5vw;
    }

    .cartAmount {
        display: flex;
        justify-content: center;
        gap: 0.5vw;
    }

    .cart {
        width: 4.6vw;
    }






    .profilePic {
        display: none;
        background-size: cover;
        background-position: center;
        height: 8vw;
        width: 8vw;
        border-radius: 2.5em;
        cursor: pointer;
    }

    .signInBtn {
        color: #FFF;
        font-size: calc(1.5vw + .6rem);
    }

    .signInBtn a {
        text-decoration: none;
    }





    .sessionFrame {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }



    .sessionFrame a {
        font-size: calc(1.7vw + .6rem);
        font-weight: 400;
        text-decoration: none;
    }


    .profileContainer {
        display: flex;
        justify-content: center;
        border-top: 0.75vw solid rgba(56, 56, 56, 0.6);
        align-items: center;
        width: 100vw;
        margin-top: 3vw;
        padding: 2vw;
        gap: 2vw;
    }


    .signOutBtn {
        font-size: calc(1.5vw + .6rem);
    }
}